@model KabelWeb.Models.NotificationModel
    @{
    ViewBag.Title = "Mobil";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<div data-role="page" id="geolocation" data-theme="a">
    <div data-role="header">
		<h1>Fejlmeld</h1>
	</div>

	<div data-role="content">	
		<div id="locationinfo">
            <p >Din position er fundet <span id="xcoord">??</span>, <span id="ycoord">??</span>, præcision <span id="accuracy">??</span> m</p>
        </div>
        <p><span style="color:Navy" id="error"></span></p>
        <p style="display:none"><span id="callcount"></span></p>
        <p>
            <label for="description">Beskriv fejlen</label>
            <textarea name="description" id="description" ></textarea>
        </p>
        <p>
            <label for="email">Din email</label>
            <input type="email" id="email" name="email" />
        </p>
        <br />
        <p><a href="#notification" data-role="button" id="submitbutton"  data-transition="slide">Send</a></p>
        <br />
        <br />
	</div>

	<div data-role="footer" style="position:absolute; bottom: 0; left:0;">
		<h4><a href="mailto:nilsr@informi.dk?subject=Feedback&body=Hej" class="ui-link-inherit">Feedback</a></h4>
    </div>
</div>

<div data-role="page" id="notification" data-theme="a">
    <div data-role="header">
	    <h1>Fejlmeld</h1>
    </div>
    <div data-role="content">	
        <p>Din fejlmelding er modtaget.</p>
        <p><span id="successmessage"></span></p>
        <ul id="resultlist"></ul>
        <br />
        <p><a class="ui-link-inherit" href="@Url.Encode("sms://+4561335561?body=http://kabel.apphb.com/Mobile ser rigtig godt ud!")" >Send en SMS</a></p>
        <br />
        <br />
	</div>

    <div data-role="footer" style="position:absolute; bottom: 0; left:0;">
        <h4><a href="mailto:nilsr@informi.dk?subject=Feedback&body=Hej" class="ui-link-inherit">Feedback</a></h4>
	</div>
    
</div>
