    @{
    ViewBag.Title = "Mobil";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<div data-role="page" id="geolocation" data-theme="a">
    <div data-role="header">
		<h1>Fejlmeld</h1>
	</div>

	<div data-role="content">	
		<div id="locationinfo">
            <p >Din position er fundet <span id="xcoord">??</span>, <span id="ycoord">??</span>, præcision <span id="accuracy">??</span> m</p>
        </div>
        <p><span style="color:Navy" id="error"></span></p>
        <p style="display:none"><span id="callcount"></span></p>
        <p>
            <label for="description">Beskriv fejlen:</label>
            <textarea name="description" id="description" ></textarea>
        </p>
        <p><input type="email" id="email" name="email" /></p>
        <br />
        <p><a href="#notification" data-role="button" id="submitbutton"  data-transition="slide">Send</a></p>
        <br />
        <br />
	</div>

	<div data-role="footer" style="position:absolute; bottom: 0; left:0;">
		<h4><a href="mailto:nilsr@informi.dk&amp;subject=Fejlmelding&amp;body=Hej!" class="ui-link-inherit">Send mail</a></h4>
    </div>
</div>

<div data-role="page" id="notification" data-theme="a">
    <div data-role="header">
	    <h1>Fejlen er registreret</h1>
    </div>
    <div data-role="content">	
        <p><span id="successmessage"></span></p>
	</div>
    <div data-role="footer" style="position:absolute; bottom: 0; left:0;">
        <h4><a href="mailto:nilsr@informi.dk&amp;subject=Fejlmelding&amp;body=Hej!" class="ui-link-inherit">Send mail</a></h4>
	</div>
    
</div>
