    @{
    ViewBag.Title = "Mobil";
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<div data-role="page" id="geolocation" data-theme="a">
    <div data-role="header">
		<h1>Fejlmeld</h1>
	</div>

	<div data-role="content">	
		<p>Din position er <span id="xcoord">??</span>, <span id="ycoord">??</span> </p>
		<p>Præcisionen er <span id="accuracy">??</span> m</p>
        <p><span id="error"></span></p>
        <p><span id="callcount"></span></p>
        <p></p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
	</div>

	<div data-role="footer">
		<h4><a href="http://www.informi.dk">Informi GIS</a></h4>
    </div>
</div>

<div data-role="page" id="notification" data-theme="a">
    <div data-role="header">
	    <h1>Fejlen er registreret</h1>
    </div>
    <div data-role="content">	
        <p>Din fejlmelding er registreret.</p>
	</div>
    <div data-role="footer">
        <h4><a href="http://www.informi.dk">Informi GIS</a></h4>
	</div>
    
</div>
