@{
    ViewBag.Title = "Startside";
}

<h2>@ViewBag.Message</h2>
<p>
    Denne webside er bygget med 
</p>
    <ul>
        <li><a href="http://asp.net/mvc" title="ASP.NET MVC 3">ASP.NET MVC 3</a></li>
        <li><a href="http://silverlight.net" title="Silverlight">Silverlight 3</a></li>
        <li><a href="http://appharbor.com" title="Silverlight">AppHarbor</a></li>
    </ul>